<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640700355334-viofobo1n25ore2hom1p9dgl4130k9a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640700355334-viofobo1n25ore2hom1p9dgl4130k9a1</string>
	<key>API_KEY</key>
	<string>AIzaSyB22_-zwnRwA07vVx2yRUO4N8chU-c7sOw</string>
	<key>GCM_SENDER_ID</key>
	<string>640700355334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skupiac</string>
	<key>PROJECT_ID</key>
	<string>skupiac-database</string>
	<key>STORAGE_BUCKET</key>
	<string>skupiac-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640700355334:ios:61c73401eeb680b190c487</string>
</dict>
</plist>